In [2]:
import pandas as pd

In [3]:
%%time
df1 = pd.read_excel("REPASSE_2004_A_2022_publicação.xlsx", sheet_name='Sheet1')

Wall time: 2min 13s

In [38]:
#%%time
#df2 = pd.read_excel("REPASSE_2004_A_2022_publicação.xlsx", sheet_name='Sheet2')

Wall time: 1min 38s

In [4]:
df1.shape

(1048573, 12)

In [62]:
type(df1), type(df2)
df1.shape, df2.shape

(pandas.core.frame.DataFrame, pandas.core.frame.DataFrame)

In [5]:
df1[df1['AN_EXERCICIO'] == 2004]

,AN_EXERCICIO,NU_BANCO,NU_AGENCIA,NU_CONTA_CORRENTE_FAVORECIDO,NU_CGC_FAVORECIDA,NO_RAZAO_SOCIAL,CO_MUNICIPIO_IBGE,SG_UF,NO_MUNICIPIO,DT_EMISSAO,DS_PROGRAMA_FNDE,VL_PAGO
0,2004,1,3105,0000077488,89971782000110,PREF MUN DE ENTRE-IJUIS,4306932,RS,ENTRE-IJUIS,28/04/04,PNATE - FUNDAMENTAL,6046.22
1,2004,1,2668,0000080489,92453927000103,PREF MUN DE ENTRE RIOS DO SUL,4306957,RS,ENTRE RIOS DO SUL,28/04/04,PNATE - FUNDAMENTAL,1655.11
2,2004,1,444,000010812X,92453828000113,PREF MUN DE EREBANGO,4306973,RS,EREBANGO,28/04/04,PNATE - FUNDAMENTAL,312.44
3,2004,1,132,000027092X,87613477000120,PREF MUN DE ERECHIM,4307005,RS,ERECHIM,28/04/04,PNATE - FUNDAMENTAL,261.78
4,2004,1,92,0000195707,92406180000124,PREF MUN DE ERNESTINA,4307054,RS,ERNESTINA,28/04/04,PNATE - FUNDAMENTAL,928.89
...,...,...,...,...,...,...,...,...,...,...,...,...
353773,2004,1,2744,0000084034,93845519000151,PREF MUN DE PORTO MAUA,4315057,RS,PORTO MAUA,28/12/04,PNATE - FUNDAMENTAL,548.28
353774,2004,1,1376,0000081744,92451152000129,PREF MUN DE PONTAO,4314779,RS,PONTAO,28/12/04,PNATE - FUNDAMENTAL,2207.64
353775,2004,1,864,000010891X,94704103000186,PREF MUN DE RIO DOS INDIOS,4315552,RS,RIO DOS INDIOS,28/12/04,PNATE - FUNDAMENTAL,3128.70
353776,2004,1,430,0000151904,94706140000123,PREF MUN DE COLINAS,4305587,RS,COLINAS,28/12/04,PNATE - FUNDAMENTAL,723.69
353777,2004,1,4156,0000050830,93539138000144,PREF MUN DE CENTENARIO,4305116,RS,CENTENARIO,28/12/04,PNATE - FUNDAMENTAL,694.47

In [6]:
df1['AN_EXERCICIO'].unique()

array([2004, 2006, 2005, 2009, 2008, 2010, 2007, 2011, 2013, 2012, 2014,
       2015, 2016, 2019, 2017, 2018, 2020, 2021], dtype=int64)

In [58]:
df1.dtypes

AN_EXERCICIO                      int64
NU_BANCO                          int64
NU_AGENCIA                        int64
NU_CONTA_CORRENTE_FAVORECIDO     object
NU_CGC_FAVORECIDA                 int64
NO_RAZAO_SOCIAL                  object
CO_MUNICIPIO_IBGE                 int64
SG_UF                            object
NO_MUNICIPIO                     object
DT_EMISSAO                       object
DS_PROGRAMA_FNDE                 object
VL_PAGO                         float64
dtype: object

In [8]:
for sheet_name, sheet_data in df1.items():
    # Aqui, você pode trabalhar com cada planilha (sheet) separadamente
    # Por exemplo, imprimir o nome da planilha e seus dados
    print(f'Nome da planilha: {sheet_name}')

Nome da planilha: AN_EXERCICIO
Nome da planilha: NU_BANCO
Nome da planilha: NU_AGENCIA
Nome da planilha: NU_CONTA_CORRENTE_FAVORECIDO
Nome da planilha: NU_CGC_FAVORECIDA
Nome da planilha: NO_RAZAO_SOCIAL
Nome da planilha: CO_MUNICIPIO_IBGE
Nome da planilha: SG_UF
Nome da planilha: NO_MUNICIPIO
Nome da planilha: DT_EMISSAO
Nome da planilha: DS_PROGRAMA_FNDE
Nome da planilha: VL_PAGO

In [9]:
print(sheet_data.head())

0    6046.22
1    1655.11
2     312.44
3     261.78
4     928.89
Name: VL_PAGO, dtype: float64

In [12]:
df1

,AN_EXERCICIO,NU_BANCO,NU_AGENCIA,NU_CONTA_CORRENTE_FAVORECIDO,NU_CGC_FAVORECIDA,NO_RAZAO_SOCIAL,CO_MUNICIPIO_IBGE,SG_UF,NO_MUNICIPIO,DT_EMISSAO,DS_PROGRAMA_FNDE,VL_PAGO
0,2004,1,3105,0000077488,89971782000110,PREF MUN DE ENTRE-IJUIS,4306932,RS,ENTRE-IJUIS,28/04/04,PNATE - FUNDAMENTAL,6046.22
1,2004,1,2668,0000080489,92453927000103,PREF MUN DE ENTRE RIOS DO SUL,4306957,RS,ENTRE RIOS DO SUL,28/04/04,PNATE - FUNDAMENTAL,1655.11
2,2004,1,444,000010812X,92453828000113,PREF MUN DE EREBANGO,4306973,RS,EREBANGO,28/04/04,PNATE - FUNDAMENTAL,312.44
3,2004,1,132,000027092X,87613477000120,PREF MUN DE ERECHIM,4307005,RS,ERECHIM,28/04/04,PNATE - FUNDAMENTAL,261.78
4,2004,1,92,0000195707,92406180000124,PREF MUN DE ERNESTINA,4307054,RS,ERNESTINA,28/04/04,PNATE - FUNDAMENTAL,928.89
...,...,...,...,...,...,...,...,...,...,...,...,...
1048568,2013,1,3919,0000074624,7673106000103,PREF MUN DE FORQUILHA,2304350,CE,FORQUILHA,28/06/13,PNATE,5791.25
1048569,2013,1,94,0000173673,7587975000107,PREF MUN DE CRATO,2304202,CE,CRATO,28/06/13,PNATE,21829.75
1048570,2013,1,3881,0000096822,7663941000154,PREF MUN DE ITAREMA,2306553,CE,ITAREMA,28/06/13,PNATE,23823.93
1048571,2013,1,1157,0000112011,7735178000120,PREF MUN DE TIANGUA,2313401,CE,TIANGUA,28/06/13,PNATE,15019.42
1048572,2013,1,1105,0000230308,7384407000109,PREF MUN DE PACAJUS,2309607,CE,PACAJUS,28/06/13,PNATE,5587.63

In [13]:
anos_unicos = df1['AN_EXERCICIO'].unique()
anos_unicos

array([2004, 2006, 2005, 2009, 2008, 2010, 2007, 2011, 2013, 2012, 2014,
       2015, 2016, 2019, 2017, 2018, 2020, 2021], dtype=int64)

In [15]:
# Filtrando e salvando em arquivos separados para cada ano
for ano in anos_unicos:
    df_filtrado = df1.loc[df1['AN_EXERCICIO'] == ano]
    
    nome_arquivo = f'df1_{ano}.csv'  # Nome do arquivo baseado no ano
    
    df_filtrado.to_csv(nome_arquivo, index=False)
    
    print(f'DataFrame filtrado para {ano} salvo como {nome_arquivo}')

DataFrame filtrado para 2004 salvo como df1_2004.csv
DataFrame filtrado para 2006 salvo como df1_2006.csv
DataFrame filtrado para 2005 salvo como df1_2005.csv
DataFrame filtrado para 2009 salvo como df1_2009.csv
DataFrame filtrado para 2008 salvo como df1_2008.csv
DataFrame filtrado para 2010 salvo como df1_2010.csv
DataFrame filtrado para 2007 salvo como df1_2007.csv
DataFrame filtrado para 2011 salvo como df1_2011.csv
DataFrame filtrado para 2013 salvo como df1_2013.csv
DataFrame filtrado para 2012 salvo como df1_2012.csv
DataFrame filtrado para 2014 salvo como df1_2014.csv
DataFrame filtrado para 2015 salvo como df1_2015.csv
DataFrame filtrado para 2016 salvo como df1_2016.csv
DataFrame filtrado para 2019 salvo como df1_2019.csv
DataFrame filtrado para 2017 salvo como df1_2017.csv
DataFrame filtrado para 2018 salvo como df1_2018.csv
DataFrame filtrado para 2020 salvo como df1_2020.csv
DataFrame filtrado para 2021 salvo como df1_2021.csv